<footer class="bg-dark text-white py-5 border-top text-muted">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Hotline</h5>
                <p>1-800-123-4567</p>
            </div>
            <div class="col-md-3">
                <h5>Brand</h5>
                <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Story</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Customer Support</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Shipping & Returns</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Our Location</h5>
                <address>
                    123 Ap Bac St<br>
                    Ho Chi Minh City<br>
                    VietNam
                </address>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h5>Follow Us</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#"><i class="bi bi-facebook fs-3"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="bi bi-twitter fs-3"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="bi bi-instagram fs-3"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="bi bi-linkedin fs-3"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>