.star {
    display: inline-block;
    font-size: 20px; /* Kích thước của sao */
    color: gold; /* Màu của sao */
}


/*  CSS For NavTab HomePage */
.nav-pills {
    font-size: 20px;
}

.nav-pills .nav-link.active {
    border-bottom: 2px solid black; /* Add underline when active */
    color: black !important; /* Change text color to black */
    background-color: transparent;
    font-weight: bold;
}

.nav-pills .nav-link {
    color: black !important;
}

/* Show list product new and discount at homepage */

.product-container {
    display: flex;
    overflow-x: hidden;
}

.left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

/* CSS Footer */
footer h5,
footer h6 {
    color: white; /* Màu trắng */
}

footer address, footer p {
    color: lightgray
}

.list-unstyled a {
    text-decoration: none;
    color: antiquewhite
}

/* CSS Pagination */
.custom-pagination .page-item .page-link {
    background-color: white;
    color: black;
    border: black;
}

.custom-pagination .page-item .page-link:hover {
    background-color: #333;
    color: white;
}

.custom-pagination .page-item.active .page-link {
    background-color: black;
    color: white;
    border-color: white;
}

/* CSS for slider filter price at show products */
/* Custom styling for noUiSlider */
.noUi-target, .noUi-horizontal {
    height: 1px;
}

#priceRangeSlider {
    height: 7px !important
}

.noUi-connects {
    background-color: gre
}

.noUi-handle:after, .noUi-handle:before {
    display: none !important;
}

.noUi-horizontal .noUi-handle {
    background: black;
    border-radius: 100%;
    width: 10px !important;
    height: 10px !important;
    top: -3px !important;
    right: -7px !important;
    box-shadow: none;
}

.noUi-horizontal .noUi-handle .noUi-tooltip {
    display: none;
}

/* CSS Show filter products */
.filter-container {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: white;
    transition: left 0.3s ease;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    z-index: 1001;
}

.filter-container.show {
    left: 0;
}

.toggle-filter-btn {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
    background-color: white;
    border-width: 0;
}

.toggle-filter-btn .icon {
    display: inline-block;
    transition: transform 0.3s ease;
}

.filter-container.show .toggle-filter-btn .icon {
    transform: rotate(180deg);
}

.nav-pills .nav-link.active {
    background-color: lightgray !important;
    border-bottom: none;
    -webkit-appearance: none !important;
}